// Fonts
$regular-font: 'Archivo', sans-serif;

// Backgrounds
$input-background: rgb(224, 222, 222);
$dash-background: rgb(240, 239, 239);

// Font colors
$light-black: rgb(24, 24, 24);
$medium-blue: rgb(15, 127, 219);

// Buttons colors
$button-blue: rgb(29, 149, 247);
$button-green: rgb(115, 248, 115);