#dash-main-container {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr 20px;
        grid-template-rows: auto 1fr 20px;
    -ms-grid-columns: minmax(0,1fr);
        grid-template-columns: minmax(0,1fr);
    background: rgb(240, 239, 239);
    position: relative;

    .desktop-header {
        display: none;
    }

    .mobile-header {
        max-width: 100%;
        min-width: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 3em 2em;

        #logo {
            font-size: 2em;
        }

        #close-mobile-menu {
            display: none;
            font-size: 3em;
            width: 30px;
            height: 23px;
            cursor: pointer;
        }

        #close-mobile-menu.close {
            display: block;
        }

        #hamburger-menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 3px;
            cursor: pointer;

            .menu-bar {
                height: 5px;
                width: 30px;
                background-color: black;
                border-radius: 25%;
            }
        }

        #hamburger-menu.open {
            display: none;
        }
    }

    .sidebar {
        display: none;
        position: absolute;
        top: 8em;
        left: 0;
        right: 0;
        bottom: 0;        
        width: 100%;
        height: auto;
        background: $sidebar-background;
        z-index: 3;
        padding: 4em 0;

        nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            height: 100%;
            gap: 4em;

            #expand-sidebar {
                display: none;
            }
    
            #mobile-logout {
                font-size: 1.5em;
                text-transform: uppercase;
                text-align: center;
                color: white;
                letter-spacing: .05em;
                padding-top: 4em;
            }

            #mobile-logout:focus, #mobile-logout:hover {
                color: $medium-green;
            }
            
            .sidebar-username {
                font-size: 2em;
                color: white;
                text-align: center;
            }

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                gap: 2.2em;

                li {
                    cursor: pointer;
                    a {
                        color: white;
                        font-size: 1.8em;
                    }

                    span {
                        margin-left: 1em;
                    }
                }

                li:focus, li:hover {
                    -webkit-transform: scale(1.1);
                            transform: scale(1.1);
                    
                    a {
                        color: $light-orange;
                     }
                }
            }
        }
        
    }

    .sidebar.mobile-sidebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    main {
        display: -ms-grid;
        display: grid;
        // -ms-grid-rows: (auto)[3];
            grid-template-rows: repeat(3, auto);
        -ms-grid-columns: minmax(0, 1fr);
            grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 
                            "summary"
                            "charts"
                            "logs";
        box-sizing: border-box;
        min-width: 0;
        gap: 1.5em;
        padding: .5em;
        position: relative;
        height: 100%;

        .dash-summary-numbers {
            grid-area: summary;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            gap: .5em;
            -ms-flex-negative: 1;
                flex-shrink: 1;
            padding: .5em;

            .summary-box {
                height: auto;
                -webkit-box-flex: 1;
                    -ms-flex: 1 0 auto;
                        flex: 1 0 auto;
                max-width: 100px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                background: white;
                -webkit-box-align: center ;
                    -ms-flex-align: center ;
                        align-items: center ;
                padding: .5em;
                border-radius: 10px;
                
                .summary-icon {
                    color: $medium-blue;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -ms-flex-item-align: center;
                        align-self: center;
                    background: rgb(226, 226, 226);
                    border-radius: 50%;
                    padding: .3em;
                    font-size: 2em;
                }

                .summary-text {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -ms-flex-line-pack: space-evenly;
                        align-content: space-evenly;
                    padding-top: .5em;

                    span:first-child {
                        font-weight: bold;
                        font-size: 1.5em;
                        text-align: center;
                    }
    
                    span:last-child {
                        font-size: 1.2em;
                        word-break: break-word;
                        text-align: center;
                    }
                }
            }
        }

        .dash-graphs {
            grid-area: charts;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            gap: 1em;
            width: 100%;

            .graph-section {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                height: auto;
                width: 100%;
                text-align: center;
                background: white;
                padding: 1em;
                border-radius: 10px;

                p {
                    font-weight: bold;
                    font-size: 1.2em;
                    padding-bottom: .5em;
                }

                .chart-wrapper {
                    position: relative;
                    max-height: 37vh;
                    height: auto;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .dash-logs {
            grid-area: logs;
            max-height: 40vh;
            overflow-y: scroll;
            border-radius: 10px;
            height: 100%;

            table, thead, tr, th, tbody, td {
                display: block;
            }

            table {
                border-radius: 10px;
                font-size: 1.2em;
                height: 100%;
            }

            thead tr {
                display: none;
            }

            tbody {
                position: relative;
                background: white;
                border-radius: 10px;

                tr {
                    border-bottom: 1px solid grey;
                    padding: .4em;

                    td {
                        border: none;
                        position: relative;
                        padding-left: 30%;
    
                    }
    
                    td:before {
                        position: absolute;
                        top: 0;
                        left: 6px;
                        width: 65%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }
    
                    td:nth-child(1):before { content: 'Item'; font-weight: 600; }
                    td:nth-child(2):before { content: 'Quantity'; font-weight: 600; }
                    td:nth-child(3):before { content: 'Price'; font-weight: 600; }
                    td:nth-child(4):before { content: 'Message'; font-weight: 600; }
                }

                tr:nth-child(odd) {
                    background: rgb(186, 252, 186);
                }

                tr:nth-child(even) {
                    border-left: 1px solid green;
                }
            }
        }

    footer {
        max-width: 100%;
        min-width: 0;
        -ms-grid-row: 3;
            grid-row: 3;
        width: 100%;
        text-align: center;
        color: black;
        letter-spacing: .1em;
        background: white;
        padding: .5em 0;
    }
}

#dash-summary-1 i { color: rgb(253, 1, 178) }
#dash-summary-2 i { color: rgb(1, 212, 1) }
#dash-summary-3 i { color: rgb(255, 136, 0) }
#dash-summary-4 i { color: rgb(82, 21, 250) }

    footer {
        text-align: center;
    }
}

#dash-main-container.stopscroll {
    overflow-y: hidden;
    position: fixed;
}