@media screen and (min-width: 700px) {
    #dash-main-container {
        main {
            .dash-graphs {
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                .graph-section {
                    max-width: 45vw;
                    
                }
            }
        }
    }
}