@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

@import 'config';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-size: 10px;
    font-family: $regular-font;
    width: 100%;
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@import 'login';
@import 'buttons';
@import 'dashboard';
@import 'media-500';
@import 'media-700';
@import 'media-900';
@import 'media-1200';
